h1{
	color: white;
	font-family: tangerine, serif;
	margin-bottom: 20px
}

body{
  background-image: url("Warm.jpeg");
  width: 100%;

}

.wrapper{ 
  background-color: #75142B;
  width: 80%;
  min-width: 700px;
  margin: 0 auto;
  text-align: center;
}

header { 
  background-color: #75142B;
  color:white;
  text-align:center;
  height: 50%;
  padding:5px;

}

section{
  background-color: #C36279;
  width: 30%;
  position: relative; left: 50px;
}


}
footer {
  background-color: #4E0012;
  color:white;
  clear:both;
  padding:5px; 
}

nav a:link {
  color: white;
}

nav a:hover {
  color: #AC4161;
}  

nav a:visited {
  color: none;
}

nav a:active {
  color: none;
}
